@import '~antd/dist/antd.css';

:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --blue: #4eadfa;
  --glass: rgba(255, 255, 255, 0.76);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #8dbbf854;
}

.App {
  /* background: rgb(108,180,238); */
  background: linear-gradient(90deg, rgba(108,180,238,1) 34%, rgba(137,207,240,1) 100%); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 0.8rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template: 
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 15rem auto;
  grid-template-rows: 7rem auto 2rem;
}