/* .ant-table-thead > tr >th{
  background: #DEEFFB !important;
}

.ant-table-tbody:hover{
  background: #DEEFFB !important;
}

.ant-table-tbody{
  background: #DEEFFB !important;
} */

.Rate {
  display: grid;
  grid-template-columns: 0.3rem 0.3rem;
  align-items: center;
}

.Expand {
  display: grid;
  grid-template-columns: 1rem 5rem;
  align-items: center;
}

.button {
  background-color: transparent;
  border-width: 0ch;
}

.button:hover{
  cursor: pointer;
}